.App {
  text-align: center;
  background-color: #F7F065;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #F5C842;
}

.quote {
  background-color: #EBD86C;
  padding: 20px;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}